.form {
  text-align: right;
}

.form button {
  font: inherit;
  cursor: pointer;
  background-color: #b81d1d;
  border: 1px solid #cc1432;
  color: white;
  padding: 0.25rem 2rem;
  border-radius: 20px;
  font-weight: bold;
}

.form button:hover,
.form button:active {
  background-color: #d33f58;
  border-color: #ce161f;
}